<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dist/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body>
    <div id="app">
        <header>
            <nav>
                <div class="logo">
                    <img :src="nav_bar.img" alt="logo_timbit">
                </div>
                <div class="link">
                    <ul>
                        <li v-for="link in nav_bar.link">{{link}}</li>
                    </ul>
                    <button>
                        <img :src="nav_bar.button.img" alt="">
                        <p>{{nav_bar.button.text}}</p>
                    </button>
                </div>
                <div class="hamburger-menu">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </nav>
        </header>
        <main>
            <section id="section1">
                <div class="container">
                    <div class="text">
                        <h1>{{section1.text.h1}}</h1>
                        <h4>{{section1.text.h4}}</h4>
                        <div>
                            <button>
                                <img :src="section1.text.button1.img" alt="">
                                <h3>{{section1.text.button1.text}}</h3>
                            </button>
                            <span>or</span>
                            <button>
                                <img :src="section1.text.button2.img" alt="">
                                <h3>{{section1.text.button2.text}}</h3>
                            </button>
                        </div>
                        <p v-html="section1.text.p"></p>
                    </div>
                    <div class="jumbotron">
                        <img :src="section1.jumbotron" alt="">
                    </div>
                </div>
            </section>
            <section id="section2">
                <div class="container _1">
                    <div class="text">
                        <h4>{{section2_1.text}}</h4>
                    </div>
                    <div class="images-3">
                        <div v-for="(item,index) in section2_1.images3" :class= "`image3-${index}`">
                            <img :src="item.img" alt="">
                            <p>{{item.text}}</p>
                        </div>
                    </div>
                    <div class="image-1">
                        <img :src="section2_1.image1.img" alt="">
                    </div>
                </div>
                <div class="container _2">
                    <div class="text">
                        <h4>{{section2_2.text}}</h4>
                    </div>
                    <div class="images-3">
                        <div v-for="(item,index) in section2_2.images3" :class= "`image3-${index}`">
                            <img :src="item.img" alt="">
                            <p>{{item.text}}</p>
                        </div>
                    </div>
                    <div class="image-1">
                        <img :src="section2_2.image1.img" alt="">
                    </div>
                    <h4>{{section2_2.image1.h4}}</h4>
                </div>
            </section>
            <section id="section3">
                <div class="container_all">
                    <div class="section3_1">
                        <div class="img">
                            <img :src="section3_1.img" alt="">
                        </div>
                        <div class="text left">
                            <div>
                                <h4>{{section3_1.text.h4}}</h4>
                                <p>{{section3_1.text.p}}</p>
                                <a v-html="section3_1.text.link"></a>
                                <img :src="section3_1.text.img" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="section3_2">
                        <div class="text right">
                            <div>
                                <h4>{{section3_2.text.h4}}</h4>
                                <p>{{section3_2.text.p}}</p>
                                <a v-html="section3_2.text.link"></a>
                                <img :src="section3_2.text.img" alt="">
                            </div>
                        </div>
                        <div class="img">
                            <img :src="section3_2.img" alt="">
                        </div>
                    </div>
                    <div class="section3_3">
                        <div class="img">
                            <img :src="section3_3.img" alt="">
                        </div>
                        <div class="text left">
                            <div>
                                <h4>{{section3_3.text.h4}}</h4>
                                <p>{{section3_3.text.p}}</p>
                                <a v-html="section3_3.text.link"></a>
                                <img :src="section3_3.text.img" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="section3_4">
                        <div class="text right">
                            <div>
                                <h4>{{section3_4.text.h4}}</h4>
                                <p>{{section3_4.text.p}}</p>
                                <a v-html="section3_4.text.link"></a>
                                <img :src="section3_4.text.img" alt="">
                            </div>
                        </div>
                        <div class="img">
                            <img :src="section3_4.img" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section id="section4">
                <div class="container_70">
                    <div class="text">
                        <h2>{{section4.h2}}</h2>
                    </div>
                    <div class="mission">
                        <p>{{section4.mission.p}}</p>
                        <div class="img">
                            <img  v-for="img in section4.img" :src="img" alt="">
                            <div class="founders">
                                <a href="#">Alex and Bohdan</a>
                                <p>Co-Founders at Teambit</p>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <button>
                            <img :src="section1.text.button1.img" alt="">
                            <h3>{{section1.text.button1.text}}</h3>
                        </button>
                        <span>or</span>
                        <button>
                            <img :src="section1.text.button2.img" alt="">
                            <h3>{{section1.text.button2.text}}</h3>
                        </button>
                    </div>
                    <p v-html="section1.text.p"></p>
                </div>
            </section>
        </main>
        <footer>
    
        </footer>
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="dist/js/app.js"></script>
</body>
</html>