*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-width: 550px;
}

body{
    color: $colorText;
}

h1{
    font-size: 5em;
}

h2{
    font-size: 3.5em;
    line-height: 1.5em;
}

h3{
    font-size: 2.5em;
}

h4{
    font-size: 2.2em;
    line-height: 1.5em;
}

p{
    font-size: 1.5em;
}

@mixin flex {
    display: flex;
}

@mixin column {
    @include flex;
    flex-direction: column;
}

@mixin container_100{
    width: 100%;
}

@mixin container_50{
    width: 50%;
}

@mixin container_70{
    width: 70%;
}

@mixin container_33{
    width: 33%;
}

.container{
    @include flex;
    width: 80%;
    margin: auto;
}

.container_50{
    @include container_50;
    @include column;
}

.container_70{
    @include container_70;
    @include column;
}

.container_all{
    @include column;
    @include container_100;
}

@mixin style-none {
    list-style: none;
}

@mixin cursor-pointer {
    cursor: pointer;
}

@mixin button-header {
    @include flex;
    @include cursor-pointer;
    border-style: none;
    border-radius: 5px;
    align-items: center;
    background-color: $background-button;
    padding: 5px;
}