*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex {
    display: flex;
}

@mixin style-none {
    list-style: none;
}

@mixin cursor-pointer {
    cursor: pointer;
}

@mixin button-header {
    @include flex;
    @include cursor-pointer;
    border-style: none;
    border-radius: 5px;
    align-items: center;
    background-color: $buttonblue;
    padding: 5px;
}