#section1{
    width: 100%;
    .container{
        @include flex;
        width: 80%;
        margin: auto;
        .text{
            @include flex;
            flex-direction: column;
            width: 50%;
            h1{
                padding-top: 13%;
                font-size: 5em;
                line-height: 1.5em;
            }
            h3{
                font-size: 2.2em;
                line-height: 1.5em;
            }
            div{
                @include flex;
                align-items: center;
                font-size: 2.5em;
                padding-top: 10%;
                button{
                    @include button-header;
                    img{
                        height: 25px;
                    }
                    p{
                        font-size: 2.5em;
                        color: white;
                    }
                }
                span{
                    padding: 0 2%;
                }
            }
            >p{
                padding-top: 5%;
            }
        }
        .jumbotron{
            width: 50%;
            img{
                padding-top: 10%;
                width: 100%;
            }
        }
    }
}