#section1{
    .container{
        .text{
            @include flex;
            flex-direction: column;
            width: 50%;
            h1{
                padding-top: 13%;
                line-height: 1.5em;
            }
            div{
                @include flex;
                align-items: center;
                font-size: 2.5em;
                padding-top: 10%;
                button{
                    @include button-header;
                    img{
                        height: 25px;
                    }
                    h3{
                        color: white;
                    }
                }
                span{
                    padding: 0 2%;
                }
            }
            >p{
                padding-top: 5%;
            }
        }
        .jumbotron{
            width: 50%;
            img{
                padding-top: 10%;
                width: 100%;
            }
        }
    }
}
#section2{
    margin-top: 13%;
    padding-bottom: 5%;
    background-color: $background-color;
    .container{
        @include column;
        align-items: center;
        border-bottom: 1px solid black;
        .text{
            @include flex;
            padding-top: 8%;
            justify-content: center;
            h4{
                width: 60%;
                text-align: center;
                margin-bottom: 10%;
            }
        }
        .images-3{
            @include flex;
            width: 100%;
            justify-content: space-around;
            align-items: baseline;
            margin-bottom: 10%;
            .image3-1,
            .image3-2,
            .image3-3{
                @include container_33;
                @include column;
                align-items: center;
                text-align: center;
                img{
                    max-height: 200px;
                    margin-bottom: 10%;
                }
            }
        }

        .image-1{
            @include flex;
            justify-content: center;
            @include container_100;
            img{
                margin-bottom: 10%;
            }
        }
    }
    .container._2{
        border-bottom: none;
        .image-1{
            border-bottom: none;
        }
    }
}
#section3{
    .container_all{
        padding: 5%;
        .section3_1,
        .section3_2,
        .section3_3,
        .section3_4{
            @include container_100;
            @include flex;
            margin-bottom: 5%;
            .img{
                @include container_50;
                img{
                    @include container_100;
                }
            }
            .text{
                @include container_50;
                @include flex;
                div{
                    width: 40%;
                    .img{
                        width: 500px;
                        img{
                            margin-top: 15%;
                        }
                    }
                    h4{
                        margin: 5% 0 35%;
                    }
                    p{
                        line-height: 1.5;
                        margin-bottom: 25%;
                    }
                    a{
                        font-size: 1.2em;
                        text-decoration-line: none;
                    }

                }
            }
            .right{
                justify-content: flex-end;
                div{
                    margin-right: 20%;
                }
            }
         }
    }
}
#section4{
    background-color: $background-color;
    @include flex;
    justify-content: center;
    .container_70{
        align-items: center;
        padding: 5% 0;
        .text,.mission{
            width: 50%;
        }
        .text h2{
            text-align: center;
        }
        .mission{
            margin: 5% 0;
        }
        .mission{
            background-color: white;
            border-radius: 15px;
            border: 1px solid $borderblue;
            padding: 3%;
            .img{
                @include flex;
                align-items: center;
                img{
                    margin: 10px 20px;
                }
            }
            .founders{
                @include column;
                a{
                    font-size: 1.5em;
                    text-decoration-line: none;
                }
            }
        }
        .button{
            @include flex;
            align-items: center;
            button{
                @include button-header;
                img{
                    height: 25px;
                }
                h3{
                    color: white;
                }
            }
            span{
                font-size: 1.5em;
                padding: 0 10px;
            }
        }
        >p{
            margin-top: 3%;
        }
        
    }
}