#section1{
    .container{
        .text{
            @include flex;
            flex-direction: column;
            width: 50%;
            h1{
                padding-top: 13%;
                line-height: 1.5em;
            }
            div{
                @include flex;
                align-items: center;
                font-size: 2.5em;
                padding-top: 10%;
                button{
                    @include button-header;
                    img{
                        height: 25px;
                    }
                    h3{
                        color: white;
                    }
                }
                span{
                    padding: 0 2%;
                }
            }
            >p{
                padding-top: 5%;
            }
        }
        .jumbotron{
            width: 50%;
            img{
                padding-top: 10%;
                width: 100%;
            }
        }
    }
}
#section2{
    margin-top: 13%;
    background-color: $background-color;
    .container{
        @include column;
        align-items: center;
        border-bottom: 1px solid black;
        .text{
            @include flex;
            padding-top: 8%;
            justify-content: center;
            h4{
                width: 60%;
                text-align: center;
                margin-bottom: 10%;
            }
        }
        .images-3{
            @include flex;
            width: 100%;
            justify-content: space-around;
            align-items: baseline;
            margin-bottom: 10%;
            .image3-1,
            .image3-2,
            .image3-3{
                @include container_33;
                @include column;
                align-items: center;
                text-align: center;
                img{
                    max-height: 200px;
                    margin-bottom: 10%;
                }
            }
        }

        .image-1{
            @include flex;
            justify-content: center;
            @include container_100;
            img{
                margin-bottom: 10%;
            }
        }
    }
    .container._2{
        border-bottom: none;
        .image-1{
            border-bottom: none;
        }
    }
}