// Le media query fino a 550px per i dispositivi mobili,
// tra 550 e 998 per tablet e oltre 998 per desktop.
@media (max-width:550px) {
    h1{
        font-size: 3em;
    }

    h2{
        font-size: 2.5em;
    }

    h3{
        font-size: 1.6em;
    }

    h4{
        font-size: 1.5em;
    }
    
    p{
        font-size: 1em;
    }

    header{
        nav{
            width: 100%;
            padding: 0 5%;
            .link{
                display: none;
            }
            .hamburger-menu{
                @include flex;
                i{
                    color: black;
                    font-size: 30px;   
                    &:active{
                        color: $buttonblue;
                    }
                }
            }
        }
    }
    #section1{
        .container{
            flex-direction: column;
            align-items: center;
            .text{
                width: 100%;
                h1{
                    text-align: center;
                }
                h4{
                    text-align: center;
                }
                div{
                    font-size: 1.5em;
                    justify-content: center;
                }
                >p{
                    text-align: center;
                }
            }
            .jumbotron{
                width: 100%;
            }
        }
    }
    #section2{
        padding-bottom: 0;
        .container{
            padding-bottom: 20%;
            .images-3{
                @include column;
                align-items: center;
                margin-bottom: 0;
                .image3-1,
                .image3-2,
                .image3-3{
                    @include container_100;
                    img{
                        max-height: 120px;
                    }
                    p{
                        margin-bottom: 20%;
                    }
                }
            }
            .image-1{
                img{
                    @include container_100;
                    max-height: 440px;
                }
            }
        }
        .container._2{
            padding-top: 20%;
            .image-1{
                img{
                    margin-bottom: 40%;
                }
            }
        }
    }
    #section3{
        .container_all{
            .section3_1,
            .section3_2,
            .section3_3,
            .section3_4{
                flex-direction: column;
                align-items: center;
                .img,.text{
                @include container_100;
                }
                .text div{
                    @include column;
                    @include container_100;
                    align-items: center;
                    text-align: center;
                    h4,p{
                        margin-bottom: 5%;
                    }
                }
            }
        }
    }
    #section4{
        .container_70{
            width: 90%;
            padding: 10% 0;
            .mission{
                width: 90%;
                margin: 10% 0;
            }
        }
    }
}